*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Prata', serif;
}
header {
  padding: 40px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#fulled {
  padding: 50px 0;
  background-color: #fbfbfb;
  position: relative;
}

.fulled-inner {
  position: relative;
}

.big-title {
  margin: 0;
  font-size: 80px;
  font-weight: 400;
  opacity: 0.05;
  letter-spacing: 10px;
}

.img-title {
  letter-spacing: 2px;
  position: absolute;
  top: 5px;
  font-size: 24px;
  font-weight: normal;
}

.hero-text {
  width: 350px;
  position: relative;
  top: -30px;
  color: #8B8B8B;
  font-family: "Heebo", Sans-serif;
  font-size: 9.5px;
  font-weight: normal;
}

.img-sec {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, 265px);
  grid-gap: 30px;
  /* align-content: space-evenly; */
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.img-card {
  position: relative;
}

.img-card:nth-child(1) {
  grid-column: 1/2;
  grid-row:1/2;
  transition: 0.4s;
}
.img-card:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2/3;
  
}
.img-card:nth-child(4){
  grid-column: 1/2;
  grid-row: 2/4;
}
.img-card:nth-child(5) {
  grid-column:2/3;
  grid-row: 3/5;
}
.img-card:nth-child(6){
  grid-column: 3/4;
  grid-row: 2/4;
}
.img-card:nth-child(7){
  grid-column: 1/2;
  grid-row: 4/6;
}
.img-card:nth-child(9){
  grid-column: 3/4;
  grid-row: 4/6;
}


.des-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  color: #fff;
  transition: all 0.4s ease; 
  opacity: 0;
}

.img-card {
  transition: all 0.4s ease;
}

.img-card:hover .des-hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  /* padding: 180px 0; */
  text-align: center;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  position: absolute;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.726);
}

.img-card:hover .img-text {
  margin-top: 65%;
}



.img-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bx-search,
.bxs-share-alt {
  width: 35px;
  height: 35px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  background-color: #715c41;
  color: #fff;
  transition: all 0.5s ease;
}

.bx-search:hover,
.bxs-share-alt:hover {
  background-color: #fff;
  color: #715c41;
}

.btn-sec {
  position: absolute;
  cursor: pointer;
  bottom: 50%;
  left: 50%;
  align-items: center;
  display: flex;
  transform: translate(-50%, -50%);
  bottom: -150px;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px 30px;
  transition: all 1s ease;
  border: 1px solid #715c41;
  color: #fff;
  background-color: #715c41;
}

.btn-sec:hover {
  background-color: #fff;
  border: 1px solid #715c41;
}

.btn-sec:hover .view-link, 
.btn-sec:hover .bx-right-arrow-alt {
  color: #715c41;
}

.view-link {
  color: #fff;
  font-style: normal;
}

.bx-right-arrow-alt {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}


color: var(--primary-color);
background-color: #715C41;
text-decoration: none;
display: inline-block;
font-family: "Heebo", Sans-serif;
font-weight: 300;
text-transform: uppercase;